.create {
position: relative; left: -450px; top: 70px;
height: 1082px;
width: 500px;
padding: 11px 50px;
background: white;
background-image: linear-gradient(cream, white);
background-size: cover;
box-shadow: 0px 30px 60px -5px #000;
}

div.create{
outline: 4px solid black;
}

.container {
    background-image: url('../img/women golfing.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    }

