.edit {
position: relative; left: -100px; top: 50px;

}

body {
background-image: url('../img/golfCourse.png');
);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}


