
.signupButton {
    background-color: #d3d3d3;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 14px;
    letter-spacing: 1x;
}

.signup {
position: left: 1300px; top 100px;
height: 600px;
width: 405px;
margin: auto;
padding: 11px 50px;
background: white;
background-image: linear-gradient(cream, white);
box-shadow: 0px 30px 60px -5px #000;
}

body {
background-image: url(https://secure.meetupstatic.com/photos/event/9/5/0/1/highres_496358145.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 300px;
}

div.signup {
outline: 5px solid black;
}