<!DOCTYPE html>
<html lang="" en xmlns:th="http://www.thymeleaf.org/">
<!--<head th:replace="fragments :: head">-->
<!--</head>-->

<link rel="stylesheet" type="text/css" href="css/login.css">

<body class="container" style="
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
">

<!--Importing style sheets for bootstrap, styles.css, and google icons-->
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<!--This is the navbar-->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color: #1877f2;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="http://localhost:8080/home">GTourney</a>
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="http://localhost:8080/events">All Events</a>
            <a class="nav-item nav-link" href="http://localhost:8080/events/create">Create Event</a>
            <a class="nav-item nav-link" href="http://localhost:8080/events/delete">Delete Events</a>
            <a class="nav-item nav-link" href="#">About</a>
        </div>
    </div>

    <a class="nav-item nav-link" style="transform: translateY(-5px); color: white" href="http://localhost:8080/login";> Sign In <span class="material-symbols-outlined" style="transform: translateY(6px); width: 10px"> account_circle</span></a>
</nav>


    <div class="login">

        <h1 style="text-align: center"><b>Welcome Back!</b></h1>

            <h5 style="color: #A93226; text-align: center">Please log-in</h5>

        <br>
        <form method="post">

            <div class="form-group">
                <label th:for="username" style="display:block; margin: 0 auto;">Username
                    <input class="form-control"  th:field="${loginFormDTO.username}">
                </label>
                <p class="error" th:errors="${loginFormDTO.username}" style="color: red;"></p>
            </div>

            <div class="form-group">
                <label th:for="password" style="display:block; margin: 0 auto;">Password
                    <input class="form-control" th:field="${loginFormDTO.password}">
                </label>
                <p  th:errors="${loginFormDTO.password}" style="color: red;"></p>
                </div>

            <button class="btn btn-success" ><!--class="signin"-->
                Sign in
            </button>
        </form>

        <br>
        <h4>Need to signup?</h4>
        <p><a rel="tag" href="http://localhost:8080/registrationPage">Register here!</a></p>        <!--don't forget to redirect people registration page!!-->

    </div>




</body>











